block value
doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        title #{title}
        meta(name="description", content=`${description}`)
        // Font
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap")
        // CSS
        link(rel="stylesheet", href=`${path}/assets/css/style.css`)

    body
        //-header
        include ../parts/_header.pug

        block mainVisual

        block content

        //-footer
        include ../parts/_footer.pug
