extend ../template/_page.pug
append value
    - const title = "お問い合わせ｜DEMOサイト"
    - const description = "お問い合わせのディスクリプション"
    - const path = ".."


//-mv
block mainVisual
    .main-visual
        .main-visual__content
            .main-visual__text お問い合わせ

block content
    //-section
    .section
        .inner
            h2.section__title お問い合わせ
            .section__lead Contact
            .section__body
                p お問い合わせのコンテンツが入ります。
